.custom-container {
    padding-top: 66px;
    background-color: #FFF8EE;
    min-height: 100vh;
}

.part_page_loader_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.in-part-page {
    padding: 0 70px 20px;
}

.in-part-name {
    font-size: 1.75rem;
    color: #343a40;
}

.in-part-oem {
    font-weight: bold;
    margin-bottom: 10px;
}

.in-part-content {
    display: flex;
    margin-top: 20px;
}

.in-part-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.in-part-details-bg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.in-part-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
}

.in-part-details ul {
    padding-left: 0;
    list-style-type: none;
}

.in-part-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.in-part-info-details {
    display: flex;
    line-height: 30px;
    flex-direction: column;
}

.in-part-info-details p {
    margin: 0;
}

@media (max-width: 1150px) {
    .in-part-page {
        padding: 0 50px 10px 50px;
    }
}

@media (max-width: 675px) {
    .in-part-page{
        padding: 0 30px 10px 30px;
    }
}