.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.register-card {
    width: 800px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.register-left {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.register-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form-group {
    margin-bottom: 0.4rem;

}

.register-form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
    display: block;
}

.register-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 10px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.register-right {
    background-color: #ffffff;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}