.profile-container {
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF8EE;
}

.profile-card {
    display: flex;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-left {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.profile-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-form-group {
    margin-bottom: 1.1rem;
}

.profile-form-group label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
}

.profile-form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.profile-button {
    background-color: #5b69ca;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.profile-button:hover {
    background-color: #343d73;
}

.profile-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
