body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.login-container {
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF8EE;
}

.login-card {
    display: flex;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-left, .login-right {
    flex: 1;
    padding: 2rem;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-group {
    margin-bottom: 1rem;
}

.login-form-group label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
}

.login-form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 0.5rem;
}

.login-button {
    background-color: #5b69ca;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.login-button:hover {
    background-color: #343d73;
}

.login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.login-image {
    width: 100%;
    border-radius: 10px;
}
