.footer {
    background-color: transparent;
    padding: 1rem 0;
    margin-top: auto;
    z-index: 3;
}

.footer-content {
    text-align: center;
}

.footer p {
    margin: 0;
    color: inherit;
}