.forbidden-container {
    text-align: center;
    padding: 50px;
}

.forbidden-title {
    font-size: 72px;
    color: #D4212D;
    margin-bottom: 20px;
}

.forbidden-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.forbidden-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #D4212D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}