.breadcrumbs {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    font-size: 16px;
    color: #000000;
}

.breadcrumbs li a {
    color: #666666;
    text-decoration: none;
}

.breadcrumbs li.slash {
    margin: 0 10px;
}