/* Общие стили */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 {
  color: #343a40;
}

input, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #00a000;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar стили */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #343a40ff;
}

.navbar-dropdown {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-dropdown {
    display: flex;
  }
}

/* Breadcrumbs стили */
.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #343a40;
}

.breadcrumbs a {
  color: #007bff;
}

.breadcrumbs span {
  margin: 0 5px;
}

/* Стили для страниц */
.home-page, .login-page, .register-page, .profile-page, .station-details-page, .stations-page {
  text-align: center;
}

.page-logo, .home-logo {
  width: 100px;
  margin-bottom: 20px;
}

.profile-form, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.station-details-page .station-image, .stations-page .station-image {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 8px;
}

.stations-page .stations-list {
  list-style: none;
  padding: 0;
}

.stations-page .station-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px;
}

.stations-page .station-info {
  text-align: left;
  margin-left: 20px;
}

.flow-analysis-page .flow-analysis-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flow-analysis-page .stations-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.flow-analysis-page .station-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px;
}

.flow-analysis-page .station-order {
  width: 30px;
  text-align: center;
}

.flow-analysis-page .station-remove {
  cursor: pointer;
  color: #ff0000;
}

.flow-analysis-link {
  margin-top: 20px;
}

.form-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.form-button:hover {
  background-color: #218838;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-background .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-background .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7); /* Затемнение */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}

.home-title {
  font-size: 3rem;
  color: #ffffff;
}

.home-description {
  font-size: 1.5rem;
}