body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 36px;
  font-weight: 700;
  color: #007bff;
}

.home-description {
  font-size: 18px;
  color: #343a40;
  margin-bottom: 20px;
}

.home-buttons a {
  margin: 0 10px;
}

.breadcrumb {
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  color: #343a40;
}