.home {
    position: relative;
    min-height: 100vh;
    background-color: #eee;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.carousel-container {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.d-block {
    width: 100%;
    height: auto;
}

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*}*/

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.content p {
    font-size: 24px;
}

.home-page-custom-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .carousel-container {
        height: calc(100vh - 120px);
    }
}